body{
	font-family: 'Russo One', sans-serif;
	text-align: center;
}
canvas{

}
#cont{
	text-align: center;
	padding: 1%;
}
input {
	font-family: 'Russo One', sans-serif;
	margin: 1% 1% 1% 0%;
	border: none;
	border-bottom: solid;
	width: 10%;
}
button{
	cursor: pointer;
	padding: 0.5% 1%;
	font-family: 'Russo One', sans-serif;
}
