@media only screen and (max-width: 1150px) {
	.left-cont{
		flex: 1;
	}
	.right-cont{
		flex: 3;
	}
}
@media only screen and (max-width: 1000px) {
	.cont {
		font-size: .6rem;
	}
	.left-cont{
		flex: 1;
	}
	.right-cont{
		flex: 2;
	}
}
@media only screen and (max-width: 820px) {
	body{
		flex-direction: column;
	}

	.mobile {
		display: initial;
	}

	.cont {
		block-size: calc(100% - 30px);
		font-size: .8rem;
	}
	.left-cont {
		flex: 1;

		display: none;
		grid-template-rows: 7% 60% 20% 13%;

		position: absolute;
	}
	.right-cont {
		flex: 1;
	}
	.main-heading{
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 500px) {
	.cont{
		font-size: 1rem;
	}
	.main-heading{
		font-size: 2rem;
	}
}

