@media only screen and (max-width: 1200px) {
	.leftCont{
		flex: 1;
	}
	.rightCont{
		flex: 2;
	}
}
@media only screen and (max-width: 950px) {
	.wrap{
		flex-direction: column;
	}
	.wrap > * {
		flex: 0 0 auto;
	}

	.leftCont{
		padding-block: 10% 2%;
		padding-inline: 10%;
	}
	.rightCont{
		padding-block: 7%;
		padding-inline: 7%;
	}
	#top>a{
		display: initial;
	}

	.rightCont{
		padding-inline: 3%;
		padding-block: 3%;
	}
}
