@media only screen and (max-width: 1150px) {
	.leftCont{
		flex: 1;
	}
	.rightCont{
		flex: 3;
	}
}
@media only screen and (max-width: 940px) {
	.leftCont{
		flex: 1;
		font-size: .55rem;
	}
	.rightCont{
		flex: 2;
	}
}
@media only screen and (max-width: 820px) {
	.wrap{
		flex-direction: column;
	}
	.wrap > * {
		flex: 0 0 auto;
	}

	.leftCont{
		grid-template-rows: .1fr .6fr .2fr .1fr;
		font-size: .7rem;
	}
	.mainHeading{
		font-size: 1.5rem;
	}

	.rightCont{
		padding-block: 7%;
		padding-inline: 7%;
	}
	#top>a{
		display: initial;
	}

	.rightCont{
		padding-inline: 3%;
		padding-block: 3%;
	}
}

@media only screen and (max-width: 500px) {
	.leftCont{
		font-size: 1rem;
	}
	.mainHeading{
		font-size: 2rem;
	}
}

